body {
    background-color: black;
    color: #00FF00; /* Green text */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

.ascii-art {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ascii-art p {
    font-size: 18px;
}

.description {
    margin-bottom: 20px;
}

.description a {
    color: #00FF00;
}

.graphs {
    text-align: left;
    margin-top: 40px;
}

.activity-graph {
    border: 1px solid #00FF00;
    padding: 10px;
    margin-bottom: 20px;
}

.activity-graph h2 {
    color: #00FF00;
    margin-bottom: 10px;
}

.activity-graph ul {
    list-style-type: none;
    padding: 0;
}

.activity-graph li {
    margin-bottom: 5px;
}

.activity-graph li span {
    font-weight: bold;
    margin-left: 10px;
    color: #00FF00;
}

.activities-and-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

canvas#interestsChart {
    width: 200px;
    height: 200px;
}
