body {
    background-color: black;
    color: #00FF00; /* Green text */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    position: relative; /* Ensure body is relative for absolute positioning inside it */
}

header {
    margin-bottom: 20px;
}

.ascii-art {
    font-size: 10px; 
    line-height: 1; 
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #000;
    color: #00FF00; 
    padding: 2px;
    border-radius: 3px;
}

.ascii-art pre {
    margin: auto; 
}

.description {
    margin-bottom: 20px;
    position: relative;
}

.description a {
    color: #00FF00;
}

.graphs {
    text-align: left;
    margin-top: 40px;
}

.activity-graph {
    border: 1px solid #00FF00;
    padding: 10px;
    margin-bottom: 20px;
}

.activity-graph h2 {
    color: #00FF00;
    margin-bottom: 10px;
}

.activities-and-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-graph ul {
    list-style-type: none;
    padding: 0;
}

.activity-graph li {
    margin-bottom: 5px;
}

.activity-graph li span {
    font-weight: bold;
    margin-left: 10px;
    color: #00FF00;
}

#interestsChart {
    width: 150px; /* Adjust the width */
    height: 150px; /* Adjust the height */
}
